<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="generic">Generic</a></li> <!-- Tuve que hacer lo mismo en elements.html y generic.html -->
        <li><a href="elements">Elements</a></li>
    </ul>
</nav>